.login {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    align-items: center;
}

.login>input {
    height: 30px;
    outline: none;
    background: transparent;
    border: none;
    width: 50%;
    border-bottom: 1px solid #40485A;
    font-weight: 400;
    font-family: 'Noto Kufi Arabic', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

input::placeholder {
    color: rgb(254, 255, 255);
}

.login>button {
    height: 40px;
    outline: none;
    background: linear-gradient(0deg, #40485A 0%, #A3A2BA 100%);
    border: none;
    width: 50%;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Noto Kufi Arabic', sans-serif;
    color: #fff;
    margin-top: 20px;
}